html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from WeClouddata
        p Enjoy learning Docker and Kubernetes!
        p 
          a.btn.btn-primary(href="https://weclouddata.com/courses/") Diploma Programs
          
          a.btn.btn-outline-primary(href="https://weclouddata.com/learning-paths/") Learning Paths

